.cs_bd{
    padding-right: 600px;
}
.cs_sb {
    all: initial;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999;
    width: 500px;
    height: 100%;
    overflow-y: scroll;
    background-color: GhostWhite;
}
.cs_sb_title{
    font-size: 60px;
    font-weight: bold;
}
.cs_sb_repo_head{
    font-size: 40=30px;
    font-weight: bold;
}

.cs_sb_html_block{
    width: 80%;
    float: left;
}
.cs_sb_btn_group{
    width: 20%;
    float: right;
}
.cs_sb_div_line{
    clear:both;
    margin-top: 20px;
}
.cs_sb_btn {
    display: block;
    vertical-align: middle;
    border: 1px GhostWhite;
    background-color: skyblue;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}