.cs_same_style {
  background-color: red;
} 

.cs_similar_style {
  background-color: red;
} 

.cs_search_style_self {
  background-color: yellow;
}

.cs_search_style_same {
  background-color: red;
}

.cs_search_style_similar0 {
  background-color: red;
}

.cs_search_style_similar1 {
  background-color: red;
}

.cs_search_style_similar2 {
  background-color: red;
}

.cs_search_style_similar3 {
  background-color: red;
}

.cs_search_style_similar4 {
  background-color: red;
}

.cs_search_style_similar5 {
  background-color: red;
}

.cs_search_style_similar6 {
  background-color: red;
}

.cs_search_style_similar7 {
  background-color: red;
}

.cs_search_style_similar8 {
  background-color: red;
}

.cs_search_style_similar9 {
  background-color: red;
}

.cs_search_style_similar10 {
  background-color: red;
}

.cs_search_style_similar11 {
  background-color: red;
}

.cs_search_style_similar12 {
  background-color: red;
}

.cs_search_style_similar13 {
  background-color: red;
}

.cs_search_style_similar14 {
  background-color: red;
}

.cs_search_style_similar15 {
  background-color: red;
}

.cs_search_style_similar16 {
  background-color: red;
}

.cs_search_style_similar17 {
  background-color: red;
}

.cs_search_style_similar18 {
  background-color: red;
}

.cs_search_style_similar19 {
  background-color: red;
}

.cs_search_style_similar20 {
  background-color: red;
}