.cs_same_style {
  background-color: red;
} 

.cs_similar_style {
  background-color: red;
} 

.cs_search_style_self {
  background-color: red;
}

.cs_search_style_s {
  background-color: red;
}

.cs_search_style_0 {
  background-color: red;
}

.cs_search_style_1 {
  background-color: red;
}

.cs_search_style_2 {
  background-color: red;
}

.cs_search_style_3 {
  background-color: red;
}

.cs_search_style_4 {
  background-color: red;
}

.cs_search_style_5 {
  background-color: red;
}

.cs_search_style_6 {
  background-color: red;
}

.cs_search_style_7 {
  background-color: red;
}

.cs_search_style_8 {
  background-color: red;
}

.cs_search_style_9 {
  background-color: red;
}

.cs_search_style_10 {
  background-color: red;
}

.cs_search_style_11 {
  background-color: red;
}

.cs_search_style_12 {
  background-color: red;
}

.cs_search_style_13 {
  background-color: red;
}

.cs_search_style_14 {
  background-color: red;
}

.cs_search_style_15 {
  background-color: red;
}

.cs_search_style_16 {
  background-color: red;
}

.cs_search_style_17 {
  background-color: red;
}

.cs_search_style_18 {
  background-color: red;
}

.cs_search_style_19 {
  background-color: red;
}

.cs_search_style_20 {
  background-color: red;
}