.cs_search_style_self {
  background-color: #0100AF;
}

.cs_search_style_same {
  background-color: #FFD133;
}

.cs_search_style_similar0 {
  background-color: #FFD133;
}

.cs_search_style_similar1 {
  background-color: #FFD133;
}

.cs_search_style_similar2 {
  background-color: #FFD133;
}

.cs_search_style_similar3 {
  background-color: #FFD133;
}

.cs_search_style_similar4 {
  background-color: #FFD133;
}

.cs_search_style_similar5 {
  background-color: #FFD133;
}

.cs_search_style_similar6 {
  background-color: #FFD133;
}

.cs_search_style_similar7 {
  background-color: #FFD133;
}

.cs_search_style_similar8 {
  background-color: #FFD133;
}

.cs_search_style_similar9 {
  background-color: #FFD133;
}

.cs_search_style_similar10 {
  background-color: #FFD133;
}

.cs_search_style_similar11 {
  background-color: #FFD133;
}

.cs_search_style_similar12 {
  background-color: #FFD133;
}

.cs_search_style_similar13 {
  background-color: #FFD133;
}

.cs_search_style_similar14 {
  background-color: #FFD133;
}

.cs_search_style_similar15 {
  background-color: #FFD133;
}

.cs_search_style_similar16 {
  background-color: #FFD133;
}

.cs_search_style_similar17 {
  background-color: #FFD133;
}

.cs_search_style_similar18 {
  background-color: #FFD133;
}

.cs_search_style_similar19 {
  background-color: #FFD133;
}

.cs_strategy_show_style {
  background-color: #C94052;
}

.cs_strategy_style0 {
  background-color: #67E5D8;
}

.cs_strategy_style1 {
  background-color: #FA720C;
}

.cs_strategy_style2 {
  background-color: #003152;
}

.cs_strategy_style3 {
  background-color: #D9B292;
}

.cs_strategy_style4 {
  background-color: #036E22;
}

.cs_strategy_style5 {
  background-color: #880016;
}

.cs_strategy_style6 {
  background-color: #FFA3A3;
}

.cs_strategy_style7 {
  background-color: #7F9FAE;
}

.cs_strategy_style8 {
  background-color: #D3CBD6;
}

.cs_strategy_style9 {
  background-color: #7D527F;
}