.cs_bd{
    padding-right: 600px;
}

.cs_sb {
    all: initial;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999;
    width: 500px;
    height: 100%;
    overflow-y: scroll;
    background-color: GhostWhite;
}

.cs_sb_title{
    font-size: 60px;
    font-weight: bold;
}

.cs_sb_repo_header{
    display: flex;
    flex-flow: row;
}

.cs_sb_repo_head{
    font-size: 45px;
    font-weight: bold;
}

.cs_sb_mode_btn_group{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.cs_sb_add_btn{
    float: right;
}

.cs_sb_li{
    border: 2px black solid;
    margin: 5px;
    min-height: 150px;
}

.cs_sb_html_block{
    width: 80%;
    float: left;
}

.cs_sb_btn_group{
    width: 20%;
    float: right;
}

.cs_sb_tf{
    width: 50px;
}

.cs_sb_div_line{
    clear:both;
    margin-top: 20px;
}

.cs_sb_btn {
    display: block;
    border: 1px GhostWhite;
    background-color: skyblue;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}